@page "/image"

<h3>Генерация случайного изображения</h3>

<img src="@ImageUrl" />

<button class="btn btn-primary" @onclick="GenerateNewImageButton">Генерация изображения</button>

@code {
    private string ImageUrl { get; set; }
    private int ImageVersion { get; set; }
    private int Width { get; set; } = 300;
    private int Height { get; set; } = 300;

    private void GenerateRandomImage()
    {
        ImageVersion++;
        ImageUrl = $"https://loremflickr.com/{Width}/{Height}?imageVersion={ImageVersion}";
    }

    private void GenerateNewImageButton()
    {
        GenerateRandomImage();
    }

    protected override void OnInitialized()
    {
        GenerateRandomImage();
    }
}